*{
  margin:0px;
  padding: 0px;
}

body{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM1qGvgO7--pIqun4rNHh4YUHRPRW4Vqe5SA&usqp=CAU');
}



iframe{
   border-radius: 23px;
   margin-left: 20px;
   margin-top: 11px;
   border-block: 8px;
   border-color: orangered;
}

h1{
  font-family:bold;
  font-size: 30px;
  margin-left: 20px;
  color:yellow;
}
